.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  width: 25%;
}
@media (max-width: 1024px) {
  .form-container {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .form-container {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .form-container {
    width: 100%;
  }
}
.form-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-item-container > input[type='text'] {
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #bcbcbc;
  border-radius: 15px;
  font-size: 0.95rem;
  transition: border-color 0.2s;
  width: -webkit-fill-available;
}

.form-item-container > input[type='text']:focus {
  outline: none !important;
  border-color: #bae6fd;
}
button[type='submit'] {
  background-color: #bae6fd;
  border: #bae6fd;
  padding: 15px;
  border-radius: 15px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.2s;
  color: #082f49;
  font-weight: 700;
  width: 100%;
}
button[type='submit']:hover {
  background-color: #7dd3fc;
  border: #7dd3fc;
}
