.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  width: 25%;
  gap: 0.2rem;
}
@media (max-width: 1024px) {
  .form-container {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .form-container {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .form-container {
    width: 100%;
  }
}
