.back-button {
  background-color: #bae6fd;
  border: #bae6fd;
  padding: 15px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.2s;
  color: #082f49;
  font-weight: 700;
  width: 100%;
  margin-bottom: 2rem;
}
.back-button:hover {
  background-color: #7dd3fc;
  border: #7dd3fc;
}
