.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  gap: 20px;
}

.button-group {
  display: flex;
  gap: 15px;
}

.welcome-button {
  background-color: inherit;
  border: 5px solid var(--sky-200);
  padding: 4.5rem;
  border-radius: 15px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.2s;
  color: var(--sky-950);
  font-weight: 700;
  font-size: 3rem;
}

.welcome-button:hover {
  background-color: var(--sky-300);
  border: 5px solid var(--sky-300);
}

@media (max-width: 1000px) {
  .app-container {
    margin: 1rem;
    justify-content: start;
  }
  .button-group {
    flex-direction: column;
  }
  button {
    font-size: 2rem;
    padding: 4rem;
  }
}
